<div class="step7-wrapper">
  <h3><span class="icon">🖊️</span> Unterschrift</h3>

  <div class="signature-option">
    <label>
      <input
        type="radio"
        name="signOption"
        [(ngModel)]="drawing"
        [value]="true"
      />
      Unterschrift zeichnen
    </label>
    <p class="desc">
      Einige Versorger bestehen bei besonders preiswerten Spezial-Tarifen auf
      eine Unterschrift.
    </p>
    <canvas id="signature" class="signature-pad" *ngIf="drawing"></canvas>

    <div class="btn-group">
      <button class="btn green" (click)="saveSignature()">✔ Speichern</button>
      <button class="btn outline" (click)="clearSignature()">✖ Löschen</button>
    </div>
  </div>

  <div class="signature-option">
    <label>
      <input
        type="radio"
        name="signOption"
        [(ngModel)]="drawing"
        [value]="false"
      />
      Automatische generierte Unterschrift
    </label>
    <p class="desc"><em>(Nicht für Spezial-Tarife anwendbar)</em></p>
  </div>

  <div class="nav-buttons">
    <button class="btn back" (click)="back.emit()">Zurück</button>
    <button
      class="btn next"
      [disabled]="!isSignatureValid()"
      [ngClass]="{
        'btn-disabled': !isSignatureValid(),
        'btn-active': isSignatureValid()
      }"
      (click)="next.emit()"
    >
      Weiter
    </button>
  </div>
</div>
