.footer {
  background-color: #0e1624;
  color: #99cce0;
  padding: 48px 0;
  font-size: 14px;
}

.footer-content {
  max-width: 1368px;
  height: 56px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 1rem;
}

.my-icon {
  width: 24px;
  height: 24px;
  color: rgba(5, 125, 246, 0.909);
}

.logo-text {
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.footer-right {
  text-align: right;
}

.footer-right span {
  color: #9ca3af;
  font-size: 16px;
}

.footer-links {
  margin-top: 4px;
}

.footer-links a {
  color: #9ca3af;
  text-decoration: none;
  margin: 8px 0 0;
  font-size: 16px;
}

.footer-links span {
  color: #768387;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-right {
    text-align: center;
  }

  .footer-left {
    justify-content: center;
  }
}
