<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 22 22"
        stroke-width="2.5"
        stroke="currentColor"
        class="my-icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z"
        />
      </svg>
      <span class="logo-text">Energie Butler</span>
    </div>
    <div class="footer-right">
      <span>&copy; 2024 EnergieButler. Alle Rechte vorbehalten.</span>
      <div class="footer-links">
        <a href="#">Datenschutz</a>
        <span>|</span>
        <a href="#">Impressum</a>
      </div>
    </div>
  </div>
</footer>
