<div class="container">
<header class="header">
   <div class="logo">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2.5"
      stroke="currentColor"
      class="my-icon"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z"
      />
    </svg>
    <h1>EnergieButler</h1>
  </div>
  <button class="login-btn">Anmelden</button>
</header>
</div>
