.page-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #245de8, #15a24a);
  z-index: 1;
}

.my-icon {
  color: rgb(242, 242, 246);
  width: 25px;
  height: 25px;
}

.sidenav {
  width: 200px;
  background: whitesmoke;
}

.mat-toolbar {
  margin-bottom: -10px;
  margin-top: 13px;

  background: linear-gradient(to right, #245de8, #15a24a);
}
.side-name,
.nav-link {
  color: white;
}

.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.logo {
  width: 100px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 80%;
  clip-path: circle(50%);
  object-fit: cover;
  margin: 5px;
}

.logo_desc {
  text-decoration: none;
  color: white !important;
  font-weight: 600 !important;
  font-size: 32px;
  transition: 0.4s;
  margin: 0;
}

.link-container {
  display: flex;
  align-items: center;
}

.mat-nav-list_link {
  display: flex;
  flex-direction: column;
  color: #44474e;
  gap: 10px;
  padding-inline: 10px;
  margin-top: 10px;
}

.sidenav_link {
  color: #44474e;
}

.header-nav_link {
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding: 13px 14px;
  text-decoration: none;
  transition: transform 0.24s ease;
}

.header-nav_link:hover {
  color: rgb(98, 250, 64);
}

.login-btn {
  background: rgb(0, 165, 81);
  font-weight: 600;
  border: 2px solid #ccc;
  padding: 8px 25px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 2rem;
  color: white;
  transition: transform 0.24s ease;
}

.header-nav_link.active {
  color: rgb(98, 250, 64);
  font-weight: 500;
  transform: scale(1.05);
}

.login-btn:hover {
  color: rgb(98, 250, 64);
  background-color: #15a24a;
  transform: scale(0.94);
}

.logo_desc:hover {
  color: #c6ad69;
}

.active-link {
  text-decoration: underline !important;
  text-decoration-color: #c6ad69 !important;
}

.toolbar {
  display: flex;
  align-items: center;
}

:host ::ng-deep .mat-mdc-list-item-unscoped-content {
  color: rgba(30, 58, 138) !important;
}

.mat-sidenav-content .mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#toggle-button {
  display: none;
}

.space {
  flex: 1;
}
/* 
.mat-icon {
  color: white;
} */

@media (max-width: 1560px) {
  .mat-toolbar {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #toggle-button {
    display: inline-block;
  }

  .burger-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .link-container {
    display: none !important;
  }

  .logo {
    width: 65px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .logo-img {
    width: 80%;
    clip-path: circle(50%);
    object-fit: cover;
    margin: 5px;
  }

  .logo_desc {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 28px;
    transition: 0.4s;
    margin: 0;
  }
}
