.page-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 1;
  /* Boshqa elementlardan ustun turishi uchun */
}

.my-icon{
    color: blue;
  width: 25px;
  height: 25px;
}

.sidenav {
  width: 200px;
  background: whitesmoke;
}



.mat-toolbar{
  margin-bottom: -10px;
  margin-top: 13px;
  
  
}
.side-name,
.nav-link {
  color: white;
}

.logo-div{
    display: flex;
  justify-content: center;
  align-items: center;
   gap: 8px;
}


.logo {
  width: 100px;
  display: flex;
  align-items: center;
  gap: 10px;

}

.logo-img {
  width: 80%;
  clip-path: circle(50%);
  object-fit: cover;
  margin: 5px;

}

.logo_desc {
  text-decoration: none;
  color: black !important;
  font-weight: 400 !important;
  font-size: 32px;
  transition: 0.4s;
  margin: 0;
}

.link-container {
  display: flex;
  align-items: center;

}

.mat-nav-list_link{
  display: flex;
  flex-direction: column;
  color: #44474E;
  gap: 10px;
  padding-inline: 10px;
  margin-top: 10px;
}

.sidenav_link{
  color: #44474E;
}
 
.sidenav_link:hover{
  text-decoration: underline;
}

.header-nav_link {
  color: black ;
  font-size: 20px ;
  font-weight: 400;
  padding: 13px 14px ;
  transition: 0.4s ;
  text-decoration: none;
}
.login-btn{
    background: white;
  font-weight: 600;
  border: 1px solid #ccc;
  padding: 0.65rem 1.4rem;
  border-radius: 6px;
  cursor: pointer;
   margin-left: 2rem;
}

.logo_desc:hover {
  color: #C6AD69;
}

.active-link {
  text-decoration: underline !important;
  text-decoration-color: #C6AD69 !important;
}

.toolbar {

  display: flex;
  align-items: center;
}



:host ::ng-deep .mat-mdc-list-item-unscoped-content {
  color:rgba(30, 58, 138) !important;
}




.mat-sidenav-content .mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#toggle-button {
  display: none;
}

.space {
  flex: 1;
}

@media (max-width: 1560px) {
  .mat-toolbar {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #toggle-button {
    display: inline-block;
  }

  .burger-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
      width: 100%;
  }
 
  .link-container {
    display: none !important;
  }

  .logo {
    width: 65px;
    display: flex;
    align-items: center;
    gap: 5px;
  
  }
  
  .logo-img {
    width: 80%;
    clip-path: circle(50%);
    object-fit: cover;
    margin: 5px;
  
  }
  
  .logo_desc {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 28px;
    transition: 0.4s;
    margin: 0;
  }


 
}


