.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4.5rem;
  background-color: white;
  border-bottom: 1px solid #e5e7eb;
}

.logo {
  font-weight: bold;
  font-size: 1.6rem;
}

.login-btn {
  background: white;
  font-weight: 600;
  border: 1px solid #ccc;
  padding: 0.65rem 1.4rem;
  border-radius: 6px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: aliceblue;
}
