.container {
  padding: 0;
}

.hero {
  padding: 64px 5px;
  margin: 0 auto;
  text-align: center;
  background-color: #f6fafd;
}

.tagline {
  background-color: #dcfce7;
  color: #065f46;
  padding: 0.3rem 1rem;
  border-radius: 9999px;
  font-size: 0.85rem;
  animation: pulse-hover 2.5s ease-in-out infinite;
}

.hero-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes pulse-hover {
  0% {
    background-color: #dcfce7;
    color: #06402f;
    transform: scale(1);
  }
  50% {
    background-color: #bbf7d0;
    color: #093e2f;
    transform: scale(1.03);
  }
  100% {
    background-color: #dcfce7;
    color: #093d2f;
    transform: scale(1);
  }
}

.hero-title {
  font-size: 60px;
  margin: 24px 0 24px;
  letter-spacing: 3px;
}

.highlight {
  color: #2563eb;
  font-weight: bold;
}

.hero-subtitle {
  color: #4b5563;
  max-width: 672px;
  font-size: 20px;
  text-align: center;
}

.cta {
  background-color: white;
  padding: 12px 32px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 550;
  font-size: 18px;
}

.cta:hover {
  background-color: aliceblue;
}

.stats {
  margin: 48px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  color: #6b7280;
}

.group-icon {
  width: 24px;
  height: 24px;
  color: #2563eb;
  margin-bottom: -5px;
}

.star-icon {
  width: 24px;
  height: 24px;
  color: #ebe825;
  margin-bottom: -5px;
}

.badge-icon {
  width: 24px;
  height: 24px;
  color: #198d1b;
  margin-bottom: -5px;
}

/* Responsive code */
@media (min-width: 1200px) {
  .hero {
    padding: 64px 0;
  }

  .hero-title {
    font-size: 64px;
    letter-spacing: 2.5px;
    margin-bottom: 26px;
  }

  .hero-subtitle {
    font-size: 22px;
    max-width: 700px;
  }

  .cta {
    font-size: 18px;
    padding: 14px 36px;
  }
}

@media (max-width: 1199px) {
  .hero {
    padding: 58px 0px;
  }

  .hero-title {
    font-size: 54px;
    letter-spacing: 2px;
    margin: 24px;
  }

  .hero-subtitle {
    font-size: 20px;
    text-align: center;
  }

  .cta {
    font-size: 17px;
    padding: 10px 28px;
  }
}

@media (max-width: 991px) {
  .hero {
    padding: 55px 0px;
  }

  .hero-title {
    font-size: 46px;
    letter-spacing: 1.6px;
    margin: 22px;
  }

  .hero-subtitle {
    font-size: 20px;
    text-align: center;
  }

  .cta {
    font-size: 17px;
    padding: 10px 28px;
  }
}

@media (max-width: 767px) {
  .hero {
    padding: 50px 0px;
  }

  .hero-title {
    font-size: 40px;
    letter-spacing: 2px;
    margin: 20px;
  }

  .hero-subtitle {
    font-size: 16px;
    text-align: center;
  }

  .cta {
    font-size: 17px;
    padding: 10px 28px;
  }

  .stats {
    margin: 43px 0 0;
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 36px;
    letter-spacing: 1.8px;
    margin: 17px;
  }
  .hero {
    padding: 45px 0px;
  }

  .hero-subtitle {
    font-size: 15px;
    text-align: center;
  }

  .cta {
    font-size: 16px;
    padding: 10px 28px;
  }

  .stats {
    margin: 39px 0 0;
  }
}

@media (max-width: 430px) {
  .hero-title {
    font-size: 32px;
  }

  .hero {
    padding: 35px 0px;
  }
  .hero-subtitle {
    font-size: 13.5px;
  }

  .cta {
    font-size: 14px;
    padding: 9px 22px;
  }

  .stats {
    margin: 30px 0 0;
  }
}
