.hero {
  width: 100%;
  padding: 64px 16px;
  margin: 0 38px;
  text-align: center;
  background-color: #f6fafd;
}

.hero-container {
  margin: 0 236px;
}

.tagline {
  background-color: #dcfce7;
  color: #065f46;
  padding: 0.3rem 1rem;
  border-radius: 9999px;
  font-size: 0.85rem;
  animation: pulse-hover 2.5s ease-in-out infinite;
}

@keyframes pulse-hover {
  0% {
    background-color: #dcfce7;
    color: #06402f;
    transform: scale(1);
  }
  50% {
    background-color: #bbf7d0;
    color: #093e2f;
    transform: scale(1.03);
  }
  100% {
    background-color: #dcfce7;
    color: #093d2f;
    transform: scale(1);
  }
}

h1 {
  font-size: 60px;
  margin: 24px 0 24px;
  letter-spacing: 3px;
}

.highlight {
  color: #2563eb;
  font-weight: bold;
}

p {
  color: #4b5563;
  max-width: 672px;
  margin: 0 122px 32px;
  font-size: 20px;
}

.cta {
  background-color: white;
  padding: 12px 32px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 550;
  font-size: 18px;
}

.cta:hover {
  background-color: aliceblue;
}

.stats {
  margin: 48px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  color: #6b7280;
}

.group-icon {
  width: 24px;
  height: 24px;
  color: #2563eb;
  margin-bottom: -5px;
}

.star-icon {
  width: 24px;
  height: 24px;
  color: #ebe825;
  margin-bottom: -5px;
}

.badge-icon {
  width: 24px;
  height: 24px;
  color: #198d1b;
  margin-bottom: -5px;
}
