<div class="step-container">
  <div class="step-form">
    <h2>1. Objektart und Verbrauch</h2>

    <form [formGroup]="form" (ngSubmit)="start()">
      <label class="form-label">Für welches Objekt wollen Sie sparen?</label>
      <div class="object-selection">
        <button
          type="button"
          [class.selected]="isSelectedObject('wohnung')"
          (click)="selectObjectType('wohnung')"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
          >
            <path
              d="M21 21H3C2.44772 21 2 20.5523 2 20V12.4868C2 12.1978 2.12501 11.9229 2.34282 11.733L6 8.54435V4C6 3.44772 6.44772 3 7 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21ZM9 19H12V12.9416L8 9.45402L4 12.9416V19H7V15H9V19ZM14 19H20V5H8V7.12729C8.23444 7.12729 8.46888 7.20938 8.65718 7.37355L13.6572 11.733C13.875 11.9229 14 12.1978 14 12.4868V19ZM16 11H18V13H16V11ZM16 15H18V17H16V15ZM16 7H18V9H16V7ZM12 7H14V9H12V7Z"
            ></path>
          </svg>
          Wohnung
        </button>

        <button
          type="button"
          [class.selected]="isSelectedObject('haus')"
          (click)="selectObjectType('haus')"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
          >
            <path
              d="M19 21H5C4.44772 21 4 20.5523 4 20V11L1 11L11.3273 1.6115C11.7087 1.26475 12.2913 1.26475 12.6727 1.6115L23 11L20 11V20C20 20.5523 19.5523 21 19 21ZM6 19H18V9.15745L12 3.7029L6 9.15745V19ZM9 9.99998H15V16H9V9.99998ZM11 12V14H13V12H11Z"
            ></path>
          </svg>
          Haus
        </button>

        <button
          type="button"
          [class.selected]="isSelectedObject('gewerbe')"
          (click)="selectObjectType('gewerbe')"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
          >
            <path
              d="M21 19H23V21H1V19H3V4C3 3.44772 3.44772 3 4 3H14C14.5523 3 15 3.44772 15 4V19H19V11H17V9H20C20.5523 9 21 9.44772 21 10V19ZM5 5V19H13V5H5ZM7 11H11V13H7V11ZM7 7H11V9H7V7Z"
            ></path>
          </svg>
          Gewerbe
        </button>
      </div>

      <label class="form-label"
        >Wie hoch ist Ihr aktueller Jahresverbrauch?</label
      >
      <div class="consumption-selection">
        <button
          type="button"
          [class.selected]="isSelectedConsumption(5000)"
          (click)="selectConsumption(5000)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
          >
            <path
              d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13Z"
            ></path>
          </svg>
        </button>

        <button
          type="button"
          [class.selected]="isSelectedConsumption(10000)"
          (click)="selectConsumption(10000)"
        >
          <ng-container *ngFor="let _ of [0, 1]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
            >
              <path
                d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13Z"
              ></path>
            </svg>
          </ng-container>
        </button>

        <button
          type="button"
          [class.selected]="isSelectedConsumption(15000)"
          (click)="selectConsumption(15000)"
        >
          <ng-container *ngFor="let _ of [0, 1, 2]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
            >
              <path
                d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13Z"
              ></path>
            </svg>
          </ng-container>
        </button>

        <button
          type="button"
          [class.selected]="isSelectedConsumption(20000)"
          (click)="selectConsumption(20000)"
        >
          <ng-container *ngFor="let _ of [0, 1, 2, 3]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
            >
              <path
                d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13Z"
              ></path>
            </svg>
          </ng-container>
        </button>
      </div>

      <input
        type="number"
        formControlName="consumption"
        placeholder="z.B. 12000 kWh"
      />

      <div class="start-button">
        <button type="submit" [disabled]="!form.valid">Starten</button>
      </div>
    </form>
  </div>
</div>
