<div class="stepper-container">
  <div>
    <ul class="vertical-stepper">
      <li
        *ngFor="let label of stepLabels; let i = index"
        [class.active]="i === currentStepIndex"
        [class.completed]="i < currentStepIndex"
      >
        <div class="step-circle">{{ i + 1 }}</div>
        <div class="step-label">{{ label }}</div>
      </li>
    </ul>
  </div>

  <div class="step-body">
    <ng-container [ngSwitch]="currentStepIndex">
      <app-step1 *ngSwitchCase="0" (next)="nextStep()"></app-step1>
      <app-step2
        *ngSwitchCase="1"
        (next)="nextStep()"
        (back)="prevStep()"
      ></app-step2>
      <app-step3
        *ngSwitchCase="2"
        (next)="nextStep()"
        (back)="prevStep()"
      ></app-step3>
      <app-step4
        *ngSwitchCase="3"
        (next)="nextStep()"
        (back)="prevStep()"
      ></app-step4>
      <app-step5
        *ngSwitchCase="4"
        (next)="nextStep()"
        (back)="prevStep()"
      ></app-step5>
      <app-step6
        *ngSwitchCase="5"
        (next)="nextStep()"
        (back)="prevStep()"
      ></app-step6>
      <app-step7
        *ngSwitchCase="6"
        (next)="nextStep()"
        (back)="prevStep()"
      ></app-step7>
      <app-step8 *ngSwitchCase="7" (back)="prevStep()"></app-step8>
    </ng-container>
  </div>
</div>
