<p-floatlabel class="w-full" variant="on">
  <p-select
    [options]="options"
    [optionLabel]="optionLabel"
    [editable]="editable"
    [filter]="filter"
    [placeholder]="placeholder"
    [inputId]="inputId"
    [formControlName]="formControlName"
    class="w-full"
    [style.fontSize]="fontSize" 
    class="w-full {{ styleClass }}"
     [panelStyle]="{ 'font-size': dropdownFontSize }"
  />
  <label [for]="inputId"   [style.fontSize]="labelFontSize">{{ labelText }}</label>
</p-floatlabel>
