.step5-form {
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid #e5e7eb;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: "Inter", sans-serif;
}

.card {
  border-radius: 16px;
  padding: 24px;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
}

.inline-icon-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.inline-icon-title h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.icon-calendar {
  width: 24px;
  height: 24px;
  fill: #333;
}

.card p {
  margin-bottom: 16px;
  font-weight: 500;
}

.mat-radio-button,
.mat-checkbox {
  margin-bottom: 8px;
  display: block;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
    width: 100%;
    flex: 1 1 50%;
    min-width: 280px;
}

.input-box {
   flex: 1;
  display: flex;
  flex-direction: column;
}

.input-box app-base-input-number {
  display: block;
  width: 100%;
}


.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

button {
  padding: 12px 28px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

button[type="button"] {
  background-color: white;
  color: #04884b;
  border: 2px solid #04884b;
}

button[type="button"]:hover {
  background-color: #04884b;
  color: white;
}

button[type="submit"] {
  background-color: #a5d6b4;
  color: white;
  cursor: not-allowed;
}

button.btn-active {
  background-color: #04884b !important;
  color: white !important;
  cursor: pointer;
}

button.btn-disabled {
  background-color: #a5d6b4 !important;
  color: white !important;
  cursor: not-allowed;
}

/* Responsiv */
@media (max-width: 768px) {
  .step5-form {
    padding: 16px;
    border-radius: 12px;
  }

  .flex {
    flex-direction: column;
  }

  .btn-group {
    flex-direction: column-reverse;
    gap: 12px;
  }

  button {
    width: 100%;
  }

  .inline-icon-title h3 {
    font-size: 16px;
  }
}
