<form [formGroup]="form" (ngSubmit)="onNext()" class="step5-form">
  <!-- Wechseltermin -->
  <section class="card">
    <div class="inline-icon-title">
      <svg
        class="icon-calendar"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          d="M19 4h-1V2h-2v2H8V2H6v2H5a2 2 0 0 0-2 2v14a2 
         2 0 0 0 2 2h14a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm0 
         16H5V10h14v10zm0-12H5V6h14v2z"
        />
      </svg>
      <h3>Wechseltermin</h3>
    </div>
    <p>Zu welchem Termin möchten Sie automatisch gewechselt werden?</p>

    <mat-radio-group formControlName="switchDateOption">
      <mat-radio-button value="fastest">Schnellstmöglich</mat-radio-button>
      <mat-radio-button value="desired">Wunschtermin</mat-radio-button>
      <mat-radio-button value="self">Ich kündige selbst</mat-radio-button>
    </mat-radio-group>

    <mat-checkbox formControlName="knowsEndDate">
      Ich kenne das Datum, an dem mein aktueller Stromvertrag endet (Optional)
    </mat-checkbox>

    <div *ngIf="form.get('knowsEndDate')?.value">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Datum</mat-label>
        <input
          matInput
          [matDatepicker]="endDatePicker"
          formControlName="endDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
  </section>

  <!-- Kundendaten -->
  <section class="card">
    <h3>Kundendaten</h3>

    <div class="flex">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Zählernummer</mat-label>
        <input matInput type="text" formControlName="meterNumber" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Kundennummer</mat-label>
        <input matInput type="text" formControlName="customerNumber" />
      </mat-form-field>
    </div>

    <mat-checkbox formControlName="addLater">
      Zählernummer und Kundennummer später hinzufügen
    </mat-checkbox>

    <mat-checkbox formControlName="knowsMarketId">
      Ich kenne meine Marktlokations-ID (Optional)
    </mat-checkbox>

    <div *ngIf="form.get('knowsMarketId')?.value">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Marktlokations-ID</mat-label>
        <input matInput type="text" formControlName="marketLocationId" />
      </mat-form-field>
    </div>
  </section>

  <!-- Buttons -->
  <div class="btn-group">
    <button type="button" (click)="onBack()">Zurück</button>
    <button
      type="submit"
      [disabled]="!form.valid"
      [ngClass]="{ 'btn-disabled': !form.valid, 'btn-active': form.valid }"
    >
      Weiter
    </button>
  </div>
</form>
