.cta-wrapper {
  background: linear-gradient(to right, #2563eb, #069e2f);
  padding: 64px 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-content {
  max-width: 1400px;
  margin: 0 38px;
  padding: 0 16px;
}

.cta-content-title {
  width: 1336px;
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 16px;
  color: white;
}

.cta-content-subtitle{
  width: 1336px;
  font-size: 20px;
  margin: 0 0 38px;
  color: white;
}

.cta-button {
  background-color: white;
  color: #2563eb;
  padding: 12px 32px;
  border: none;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 550;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.cta-button:hover {
  background-color: #e0e7ff;
}

.arrow {
  font-size: 1.2rem;
}
