<div class="profil-formular" *ngIf="user; else nichtEingeloggt">
  <h2>Übersicht über Ihr Profil</h2>
  <p>
    Bitte hinterlegen Sie Ihre persönlichen Adress- und Kontaktdaten.
    Dadurch können Sie auch schneller und bequemer von einem Deal oder Vertragswechsel profitieren, da Sie Ihre Daten dann nicht noch einmal angeben müssen.
  </p>

  <h3>PERSÖNLICHE DATEN</h3>

  <form [formGroup]="profileForm" (ngSubmit)="speichern()">
    <div class="form-grid-2col">
      <!-- Anrede und Titel -->
      <label for="anrede">Anrede und Titel</label>
      <div class="input-pair">
        <select formControlName="anrede" id="anrede">
           <option value="">Anrede (optional)</option>
          <option value="Herr">Herr</option>
          <option value="Frau">Frau</option>
        </select>
        <select formControlName="titel">
          <option value="">Titel (optional)</option>
          <option value="Dr.">Dr.</option>
          <option value="Prof.">Prof.</option>
        </select>
      </div>

      <!-- Vorname -->
      <label for="vorname">Vorname</label>
      <app-base-input id="vorname" formControlName="vorname" [inputTypeRestriction]="'letters'" />

      <!-- Nachname -->
      <label for="nachname">Nachname</label>
      <app-base-input id="nachname" formControlName="nachname"  [inputTypeRestriction]="'letters'" />

      <!-- PLZ und Ort -->
      <label>PLZ und Ort</label>
      <div class="input-pair">
        <app-base-input formControlName="plz" placeholder="PLZ"  [inputTypeRestriction]="'numbers'" />
        <app-base-input formControlName="ort" placeholder="Ort" />
      </div>

      <!-- Straße und Nr. -->
      <label>Straße und Nr.</label>
      <div class="input-pair">
        <app-base-input formControlName="strasse" placeholder="Straße" />
        <app-base-input formControlName="hausnummer" placeholder="Nr." />
      </div>

      <!-- Email -->
      <label>Email</label>
      <app-base-input formControlName="email" [disabled]="true" />

      <!-- Telefon -->
      <label>Telefon</label>
      <div class="input-pair">
        <input class="telefon-kod" value="+49" disabled style="width: 50px" />
        <app-base-input class="telefon-input" formControlName="telefon" placeholder="Telefon"  [inputTypeRestriction]="'numbers'" />
      </div>

      <!-- Geburtstag -->
      <label>Geburtstag</label>
      <div class="input-pair" formGroupName="geburtstag">
        <select formControlName="tag">
          <option value="">Tag</option>
          <ng-container *ngFor="let t of [].constructor(31); let i = index">
            <option [value]="i + 1">{{ i + 1 }}</option>
          </ng-container>
        </select>
        <select formControlName="monat">
          <option value="">Monat</option>
          <ng-container *ngFor="let m of [].constructor(12); let i = index">
            <option [value]="i + 1">{{ i + 1 }}</option>
          </ng-container>
        </select>
        <select formControlName="jahr">
          <option value="">Jahr</option>
          <ng-container *ngFor="let y of [].constructor(100); let i = index">
            <option [value]="2025 - i">{{ 2025 - i }}</option>
          </ng-container>
        </select>
      </div>
    </div>

    <div class="profile-btns">
      <button type="button" (click)="logout()" class="btn btn-logout">Ausloggen</button>
      <button type="submit" class="btn btn-success">Speichern</button>
    </div>
  </form>
</div>

<ng-template #nichtEingeloggt>
  <p>Bitte loggen Sie sich ein, um Ihr Profil zu sehen.</p>
</ng-template>
