<div class="profil-formular" *ngIf="user; else nichtEingeloggt">
  <h2>Übersicht über Ihr Profil</h2>
  <p>
    Bitte hinterlegen Sie Ihre persönlichen Adress- und Kontaktdaten.
    Dadurch können Sie auch schneller und bequemer von einem Deal oder Vertragswechsel profitieren, da Sie Ihre Daten
    dann nicht noch einmal angeben müssen.
  </p>

  <h3>PERSÖNLICHE DATEN</h3>

  <form [formGroup]="profileForm" (ngSubmit)="speichern()">
    <div class="form-grid-2col">
      <!-- Anrede und Titel -->
      <label for="anrede">Anrede und Titel</label>
      <div class="input-pair">
        <!-- Anrede -->
        <div style="flex: 1;">
          <app-base-select formControlName="anrede" inputId="anrede_select" [options]="andrede" optionLabel="name"
            placeholder="Anrede" labelText="Anrede (optional)" fontSize="16px" labelFontSize="12px" [filter]="false"
            [editable]="false" class="w-full" />

        </div>

        <!-- Titel -->
        <div style="flex: 1;">
          <app-base-select formControlName="titel" inputId="titel_select" [options]="titel" optionLabel="name"
            class="w-full" placeholder="Titel" labelText="Titel (optional)" labelFontSize="12px" />
        </div>
      </div>

      <!-- Vorname -->
      <label for="vorname">Vorname</label>
      <app-base-input-name placeholder="Vorname" id="vorname" formControlName="vorname" />

      <!-- Nachname -->
      <label for="nachname">Nachname</label>
      <app-base-input-name placeholder="Nachname" id="nachname" formControlName="nachname" />

      <!-- PLZ und Ort -->
      <label>PLZ und Ort</label>
      <div class="input-pair">
        <div style="flex: 1;">
          <app-base-input-number [maxlength]="5" formControlName="plz" placeholder="PLZ" />
        </div>

        <div style="flex: 1;">
          <app-base-select formControlName="ort" inputId="ort_select" [options]="ort" optionLabel="city"
            placeholder="Ort" dropdownFontSize="16px" labelText="Ort" fontSize="16px" labelFontSize="14px" [editable]="true" 
            styleClass="md:w-56 ort-select" />

        </div>

      </div>

      <!-- Straße und Nr. -->
      <label>Straße und Nr.</label>
      <div class="input-pair">
        <app-base-input-text formControlName="strasse" placeholder="Straße" />
        <app-base-input-text formControlName="hausnummer" placeholder="Nr." />
      </div>

      <!-- Email -->
      <label>Email</label>
      <input formControlName="email" [disabled]="true" />

      <!-- Telefon -->
      <label>Telefon</label>
      <div class="input-pair">
        <input class="telefon-kod" value="+49" disabled style="width: 50px" />
        <app-base-input-number class="telefon-input" formControlName="telefon" placeholder="Telefon" />
      </div>

      <!-- Geburtstag -->
      <label>Geburtstag</label>
      <div class="input-pair" formGroupName="geburtstag">
        <p-floatlabel class="w-full md:w-56" variant="on">
          <p-select formControlName="tag" inputId="tag_select" [options]="days" optionLabel="label" optionValue="value"
            class="w-full" placeholder="Tag" />
          <label for="tag_select">Tag</label>
        </p-floatlabel>

        <p-floatlabel class="w-full md:w-56" variant="on">
          <p-select formControlName="monat" inputId="monat_select" [options]="monate" optionLabel="label"
            optionValue="value" class="w-full" placeholder="Monat" />
          <label for="monat_select">Monat</label>
        </p-floatlabel>

        <p-floatlabel class="w-full md:w-56" variant="on">
          <p-select formControlName="jahr" inputId="jahr_select" [options]="jahre" optionLabel="label"
            optionValue="value" class="w-full" placeholder="Jahr" />
          <label for="jahr_select">Jahr</label>
        </p-floatlabel>

      </div>
    </div>

    <div class="profile-btns">
      <button type="button" (click)="logout()" class="btn btn-logout">Ausloggen</button>
      <button type="submit" class="btn btn-success">Speichern</button>
    </div>
  </form>
</div>

<ng-template #nichtEingeloggt>
  <p>Bitte loggen Sie sich ein, um Ihr Profil zu sehen.</p>
</ng-template>

<p-toast [showTransitionOptions]="'250ms'" [showTransformOptions]="'translateX(100%)'" [hideTransitionOptions]="'150ms'"
  [hideTransformOptions]="'translateX(100%)'"></p-toast>