.wechselservice {
  width: 100%;
}

.wechselservice-container-content {
  padding: 30px 13px;
}
.wechselservice-container {
  max-width: 630px;
  width: 100%;
}

.wechselservice-container p {
  font-size: 16px;
  margin-bottom: 32px;

  color: #40424c;
}

.wechselservice-container h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #40424c;
}

.button-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.button-div button {
  align-items: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  justify-content: center;
  max-width: 100%;
  outline: 0;
  padding: 14px 36px;
  width: max-content;
  background-color: #fff;
  border: 1px solid #04884B;
  color: #05a65d;
  transition: background-color 0.3s;
}

.button-div button:hover {
  background-color: #05a65d;
  color: #fff;
}

.primary-button {
  background-color: #04884B !important;
  color: #fff !important;
  transition: background-color 0.3s;
}

.primary-button:hover {
  background-color: #fff !important;
  color: #05a65d !important;
}

@media (max-width: 900px) {
  .button-div button {
    border-radius: 8px;
    font-size: 16px;
    padding: 12px 32px;
  }

  .wechselservice-container-content {
    padding: 25px 13px;
  }
}

@media (max-width: 780px) {
  .button-div button {
    padding: 9px 28px;
    height: 45px;
  }

  .wechselservice-container-content {
    padding: 18px 10px;
  }
}
