<app-header></app-header>

<main>
    <section class="wechselservice">

        <div class="container">

            <div class="wechselservice-container">

             <h1>Wechselservices</h1>
                <p>In diesem Bereich finden Sie immer alle relevanten Informationen zu Ihren Wechselservices. Noch keinen Wechselservice angelegt? Kein Problem. Erstellen Sie in wenigen Schritten einen Strom- und/oder Gas-Wechselservice für Sie, Ihre Freunde oder Ihre Familie. Es lohnt sich!</p>

            </div>

            <div class="button-div">
                <button class="primary-button">Stromwechsel anlegen</button>
                <button>Gaswechsel anlegen</button>
                <button>Heizstromwechsel anlegen</button>
            </div>
        </div>
    </section>
</main>

<app-footer></app-footer>