
<main>
    <section class="wechselservice">

        <div class="wechselservice-container-content">

            <div class="wechselservice-container">

             <h1>Wechselservices</h1>
                <p>In diesem Bereich finden Sie immer alle relevanten Informationen zu Ihren Wechselservices. Noch keinen Wechselservice angelegt? Kein Problem. Erstellen Sie in wenigen Schritten einen Strom- und/oder Gas-Wechselservice für Sie, Ihre Freunde oder Ihre Familie. Es lohnt sich!</p>

            </div>

            <div class="button-div">
                <button class="primary-button" routerLink="/object-usege" >Stromwechsel anlegen</button>
                <button routerLink="/gaswechsel">Gaswechsel anlegen</button>
                <button routerLink="/heizstromwechsel" >Heizstromwechsel anlegen</button>
            </div>
        </div>
    </section>
</main>
