.wechselservice{
    margin-top: 100px;
}

.wechselservice-container p{
font-size: 16px;
    margin-bottom: 32px;
    max-width: 630px;
    color: #40424c;
}

.wechselservice-container h1{
        font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #40424c;
}

.button-div{
    width: 100%;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    
}

.button-div button{
        align-items: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    height: 60px;
    justify-content: center;
    max-width: 100%;
    outline: 0;
    padding: 14px 36px;
    width: max-content;
    background-color: #fff ;
    border: 1px solid #53b741 ;
    color: #53b741 ;
    transition: background-color .3s;
    
}

.primary-button{
 background-color: #53b741 !important;
    color: #fff !important;
    transition: background-color .3s;
}