<app-header></app-header>

<main>
    <div class="gaswechsel-top-div">
       Gas-Wechselservice erstellen
    </div>
  <div class="form-container">
    <div class="step-indicator">
      <div class="step active">1 Objektart und Verbrauch</div>
      <div class="step">2 Ihr Anschluss</div>
      <div class="step">3 Aktueller Vertrag</div>
      <div class="step">4 Lieferstelle</div>
      <div class="step">5 Kundendaten</div>
      <div class="step">6 Bankdaten</div>
      <div class="step">7 Unterschrift</div>
      <div class="step">8 Daten überprüfen</div>
    </div>

    <div class="main-form">
      <h2> <svg class="gas-fire-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 23C7.85786 23 4.5 19.6421 4.5 15.5C4.5 13.3462 5.40786 11.4045 6.86179 10.0366C8.20403 8.77375 11.5 6.49951 11 1.5C17 5.5 20 9.5 14 15.5C15 15.5 16.5 15.5 19 13.0296C19.2697 13.8032 19.5 14.6345 19.5 15.5C19.5 19.6421 16.1421 23 12 23Z"></path></svg> Objektart und Verbrauch</h2>

      <label>Für welches Objekt wollen Sie sparen?</label>
    <div class="object-buttons">
        <button
          [class.active]="selectedObjectType === 'Wohnung'"
          (click)="setObjectType('Wohnung')"
        >
          <svg 
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="main-form-object-svg"
          >
            <path
              d="M22 21H2V19H3V4C3 3.44772 3.44772 3 4 3H18C18.5523 3 19 3.44772 19 4V9H21V19H22V21ZM17 19H19V11H13V19H15V13H17V19ZM17 9V5H5V19H11V9H17ZM7 11H9V13H7V11ZM7 15H9V17H7V15ZM7 7H9V9H7V7Z"
            ></path>
          </svg> Wohnung
        </button>
        <button
          [class.active]="selectedObjectType === 'Haus'"
          (click)="setObjectType('Haus')"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="main-form-object-svg"
          >
            <path
              d="M19 21H5C4.44772 21 4 20.5523 4 20V11L1 11L11.3273 1.6115C11.7087 1.26475 12.2913 1.26475 12.6727 1.6115L23 11L20 11V20C20 20.5523 19.5523 21 19 21ZM6 19H18V9.15745L12 3.7029L6 9.15745V19ZM9 9.99998H15V16H9V9.99998ZM11 12V14H13V12H11Z"
            ></path>
          </svg> Haus
        </button>
        <button
          [class.active]="selectedObjectType === 'Gewerbe'"
          (click)="setObjectType('Gewerbe')"
        >
          <svg 
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="main-form-object-svg"
          >
            <path
              d="M10 10.1111V1L21 7V21H3V7L10 10.1111ZM12 4.36908V13.1886L5 10.0775V19H19V8.18727L12 4.36908Z"
            ></path>
          </svg> Gewerbe
        </button>
      </div>

      <label>Wie hoch ist Ihr aktueller Jahresverbrauch?</label>
      <div class="people-buttons">
        <button [class.active]="selectedPeople === 1" (click)="setPeople(1)">
          <svg class="people-buttons-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13Z"></path></svg>
        </button>
        <button [class.active]="selectedPeople === 2" (click)="setPeople(2)">
          <svg class="people-buttons-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13Z"></path></svg> 
          <svg class="people-buttons-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13Z"></path></svg>
        </button>
        <button [class.active]="selectedPeople === 3" (click)="setPeople(3)">
         <svg class="people-buttons-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13Z"></path></svg>
         <svg class="people-buttons-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13Z"></path></svg>
         <svg class="people-buttons-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13Z"></path></svg>
        </button>
        <button [class.active]="selectedPeople >= 4" (click)="setPeople(4)">
          <svg class="people-buttons-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13Z"></path></svg>
          <svg class="people-buttons-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13Z"></path></svg>
          <svg class="people-buttons-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13Z"></path></svg>
          <svg class="people-buttons-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13Z"></path></svg> 
          <svg class="people-buttons-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z"></path></svg>
        </button>
      </div>

      <div class="input-group">
        <input type="number" [(ngModel)]="annualConsumption" />
        <span>kWh</span>
      </div>

      <button class="start-button">Starten ➜</button>
    </div>

    <div class="info-box">
      <h3>NÜTZLICHE INFORMATION</h3>
      <strong>Objektart und Verbrauch</strong>
      <p>
        Bitte wählen Sie die Art des Objekts aus, für das Sie sparen möchten.
        Geben Sie anschließend Ihren
        <strong>aktuellen Jahresverbrauch in Kilowattstunden (kWh)</strong> an.
        Diese Informationen helfen uns, die besten Tarife zu finden.
        <br /><br />
        Um den Verbrauch zu bestimmen, können Sie sich
        <strong>an der Anzahl der Personen im Haushalt</strong> orientieren oder
        die letzte Rechnung verwenden.
      </p>
    </div>
  </div>
</main>
<app-footer></app-footer>
