<div class="container">
  <header class="header">
    <div class="logo">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2.5"
        stroke="currentColor"
        class="my-icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z"
        />
      </svg>
      <h1>EnergieButler</h1>
    </div>
    <button class="login-button">Einloggen</button>
  </header>
</div>

<div class="login-container">
  <div class="login-card">
    <h2>Herzlich willkommen bei remind.me</h2>
    <p>
      Erstellen Sie ein neues Konto oder melden Sie sich bei Ihrem bestehenden
      an.
    </p>

    <form>
      <label for="email">Ihre E-Mail*</label>
      <input type="email" id="email" placeholder="E-Mail-Adresse" required />

      <label for="password">Passwort eingeben</label>
      <input
        type="password"
        id="password"
        placeholder="Passwort eingeben"
        required
      />

      <div class="password-link">
        <a href="#">Passwort vergessen?</a>
      </div>

      <button type="submit" class="login-btn">Einloggen</button>
      <button type="button" class="verify-link">
        Anmeldung mit einem Verifizierungslink
      </button>
    </form>

    <div class="divider">Oder anmelden mit</div>

    <div class="social-buttons">
      <button class="google-btn">Google</button>
      <button class="facebook-btn">Facebook</button>
    </div>

    <p class="terms">
      Indem Sie auf den Anmelde-Button klicken erklären Sie sich mit unseren
      <br />
      einverstanden und bestätigen, dass Sie unsere
      <a href="#">Nutzungsbedingungen</a> und
      <a href="#">Datenschutzrichtlinien</a> einschließlich unserer
      Cookie-Richtlinie gelesen haben. Teil unseres Services ist es u.a., Sie
      per E-Mail über für Sie passende Wechselangebote zu informieren. Sie
      können dem Erhalt dieser E-Mails mittels eines Klicks auf den jeweiligen
      Abmeldelink widersprechen.
    </p>
  </div>
</div>

<app-footer></app-footer>
