.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f5f5f5;
}

.login-card {
  background: white;
  padding: 30px;
  max-width: 400px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

input::placeholder {
  color: #888;
  font-size: 16px;
  font-style: italic;
}

.login-card form {
  display: flex;
  flex-direction: column;
}

.login-card form label {
  margin-top: 15px;
  font-weight: 400;
}

.login-card form input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-card form .error {
  color: #d32f2f;
  background: #ffebee;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
}

.login-card form .password-link {
  text-align: right;
  margin-top: 5px;
}

.login-card form .password-link a {
  font-size: 13px;
  color: #2e7d32;
}

.login-card form .login-btn {
  background: linear-gradient(to right, #245de8, #15a24a);
  color: white;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.login-card form .verify-link {
  background: white;
  color: #4caf50;
  border: 2px solid #4caf50;
  padding: 12px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.login-card .divider {
  text-align: center;
  margin: 20px 0;
  color: #888;
}

.login-card .social-buttons {
  display: flex;
  justify-content: space-between;
}

.login-card .social-buttons button {
  width: 48%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-card .social-buttons .google-btn {
  background: white;
}

.login-card .social-buttons .facebook-btn {
  background: white;
}

.login-card .terms {
  font-size: 12px;
  margin-top: 20px;
  color: #666;
}

.login-card .terms a {
  color: #388e3c;
}

.facebook-svg,
.google-svg {
  width: 30px;
  height: 30px;
}

.google-btn,
.facebook-btn {
  align-items: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
  max-width: 100%;
  outline: 0;
  padding: 14px 36px;
}



/* responsive */

@media (max-width:768px) {
  .login-card {
    padding: 26px;
    border-radius: 7px;
  }


}


@media (max-width:568px) {

  .google-btn,
  .facebook-btn {
    border-radius: 8px;
    font-size: 16px;
    padding: 8px !important;
  }

  .facebook-svg, .google-svg {
    width: 27px;
    height: 27px;
}
 .divider {
  margin: 17px 0px !important;
}

h2 {
    font-size: 17px !important;
}

.login-card-subtitle{
  font-size: 14px;
}


}
