.background-overlay {
  background: url("../../../../public/housebg.jpg") no-repeat center center /
    cover;
  position: relative;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(15px); /* xiralik darajasi */
  background-color: rgba(5, 5, 5, 0.2); /* ustidagi qoramtir qatlam */
}

.container-form {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  width: 100%;
  max-width: 450px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
   position: relative;
}

h3, h4 {
  font-size: 18px;
  font-weight: 600;
  color: #1b4332;
  margin-bottom: 1rem;
}

.card-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 70px;
  background-color: #f8f9fa;
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
  min-width: 70px;
}

.card-icon {
  color: #2d6a4f;
  margin-bottom: 4px;
  svg {
    width: 28px;
    height: 28px;
  }
}

.card-label {
  font-size: 14px;
  color: #000;
}
label {
 font-size: 14px;
  color: #333;
  margin-bottom: 4px;
  font-weight: 500;
} 

.card:hover {
  border-color: #2d6a4f;
}

.card.selected {
  border: 2px solid #2d6a4f;
  background-color: #e6f4ec;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  background: #f9f9f9;
  border-radius: 12px;
  padding: 0.6rem 1rem;
  border: 1px solid #ddd;
}

.input-group-vertical {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1.2rem;
}

.input-group-vertical label {
  font-size: 14px;
  color: #333;
  margin-bottom: 4px;
  font-weight: 500;
}

.input-group-vertical input,
.input-group-vertical select {
  padding: 0.6rem 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  font-size: 15px;
  outline: none;
  font-family: inherit;
}

.input-group-vertical input::placeholder,
.input-group-vertical select:invalid {
  color: #aaa;
}


.input-group input,
.input-group select {
  border: none;
  background: transparent;
  outline: none;
  flex: 1;
  font-size: 15px;
  padding: 0.3rem 0;
  font-family: inherit;
}

.input-group input::placeholder,
.input-group select:invalid {
  color: #aaa;
}

.input-group .item {
  color: #333;
  font-weight: 500;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 1.5rem;
}

button.btn-secondary {
  background: white;
  color: #04884B;
  padding: 10px 30px;
  font-size: 18px;
  border: 2px solid #04884B;
  border-radius: 5px;
}

button.btn-secondary:hover {
  background-color: #e8f5e9;
}

button.btn-primary {
  padding: 10px 30px;
  border: 2px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  background-color: #04884B;
  color: white;
}

button.btn-primary:disabled {
  background-color: #cfcfcf;
  cursor: not-allowed;
}
