.container-form {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.container-form h3,
h4 {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.card-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.card {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 15px 20px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s;
  width: 120px;
}

.card:hover {
  border-color: #3868eb;
}

.card.selected {
  border-color: #3868eb;
  background-color: #dfeffb;
}

.card-icon {
  width: 36px;
  height: 36px;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon svg {
  width: 100%;
  height: 100%;
  fill: #3868eb;
}

.card-label {
  font-weight: 500;
  font-size: 14px;
}

.input-group {
  width: 100%;
  margin: 10px 0;
}

.input-group input:focus {
  outline: 2px solid #3868eb;
}

.input-group span {
  padding: 14.5px;
  border: 1px solid #ccc;
  border-radius: 0 6px 6px 0;
  font-size: 16px;
}

.input-group input,
.input-group select {
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.input-group .consp {
  border-radius: 6px 0 0 6px;
  border-right: none;
}

.input-group select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.input-group select:focus {
  outline: 2px solid #3868eb;
}

.btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.btn-primary {
  background: #3868eb;
  color: white;
  padding: 17px 70px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background: white;
  color: #3868eb;
  border: 2px solid #3868eb;
  font-weight: 500;
}

.btn-secondary {
  background: white;
  color: #3868eb;
  padding: 17px 70px;
  font-size: 16px;
  border: 2px solid #3868eb;
  border-radius: 5px;
}

.btn-secondary:hover {
  background: #3868eb;
  color: white;
  border: 2px solid #3868eb;
  font-weight: 500;
}
