<form [formGroup]="form" (ngSubmit)="onSubmit()" class="step4-form">
  <section class="card">
    <h3>Liefer- und Rechnungsanschrift</h3>
    <div class="flex-row">
      <input
        type="text"
        formControlName="plz"
        placeholder="PLZ"
        formGroupName="delivery"
      />
      <input
        type="text"
        formControlName="city"
        placeholder="Ort"
        formGroupName="delivery"
      />
    </div>
    <div class="flex-row">
      <input
        type="text"
        formControlName="street"
        placeholder="Straße"
        formGroupName="delivery"
      />
      <input
        type="text"
        formControlName="houseNumber"
        placeholder="Hausnummer"
        formGroupName="delivery"
      />
    </div>
    <label>
      <input type="checkbox" formControlName="differentBilling" />
      Abweichende Rechnungsanschrift
    </label>
  </section>

  <section class="card" *ngIf="form.get('differentBilling')?.value">
    <h3>Wer bezahlt die Rechnung?</h3>
    <div formGroupName="billing">
      <label>Anrede</label>
      <label
        ><input type="radio" formControlName="salutation" value="frau" />
        Frau</label
      >
      <label
        ><input type="radio" formControlName="salutation" value="herr" />
        Herr</label
      >

      <div class="flex-row">
        <input type="text" formControlName="firstName" placeholder="Vorname" />
        <input type="text" formControlName="lastName" placeholder="Nachname" />
      </div>
      <div class="flex-row">
        <input
          type="text"
          formControlName="birthDate"
          placeholder="Geburtstag"
        />
        <input
          type="text"
          formControlName="phone"
          placeholder="Telefonnummer (Optional)"
        />
      </div>
      <div class="flex-row">
        <input type="text" formControlName="plz" placeholder="PLZ" />
        <input type="text" formControlName="city" placeholder="Ort" />
      </div>
      <div class="flex-row">
        <input type="text" formControlName="street" placeholder="Straße" />
        <input
          type="text"
          formControlName="houseNumber"
          placeholder="Hausnummer"
        />
      </div>
    </div>
  </section>

  <section class="card">
    <label>Wünschen Sie einen Versorgerwechsel oder ziehen Sie um?</label>
    <label
      ><input type="radio" formControlName="changeOption" value="wechseln" />
      Anbieter/Tarif wechseln</label
    >
    <label
      ><input type="radio" formControlName="changeOption" value="umziehen" />
      Ich ziehe um</label
    >
  </section>

  <div class="btn-group">
    <button type="button" (click)="back.emit()">Zurück</button>
    <button type="submit" [disabled]="!form.valid">Weiter</button>
  </div>
</form>
