<div class="offer-box">
  <div class="offer-header">
    <span class="icon">📩</span>
    <h3>
      Perfekt, Ihr persönliches Stromangebot wurde erstellt und wartet auf Sie.
    </h3>
  </div>

  <p>
    Entdecken Sie jetzt Ihre potenziellen Einsparungen und erfahren Sie Schritt
    für Schritt, wie Sie unseren kostenlosen Wechselservice aktivieren.
  </p>

  <p>
    Wechseln Sie jetzt zum empfohlenen Anbieter, schützen Sie sich vor
    Preissteigerungen und profitieren Sie von
    <strong>attraktiven Neukundenpreisen.</strong>
  </p>

  <button class="btn" routerLink="/main">Zum Angebot</button>
</div>
