.background-overlay {
  background: url("../../../../public/housebg.jpg") no-repeat center center /
    cover;
  position: relative;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(15px); /* xiralik darajasi */
  background-color: rgba(5, 5, 5, 0.2); /* ustidagi qoramtir qatlam */
}

.offer-box {
     background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  width: 100%;
  max-width: 450px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
   position: relative;
}

.offer-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.offer-header .icon {
  font-size: 24px;
  color: #04884B;
}

.offer-header h3 {
  color: #04884B;
  text-align: start;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

p {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.5;
}

strong {
  font-weight: 600;
  color: #04884B;
}

.btn {
  display: inline-block;
  width: 100%;
  background-color: #04884B;
  color: #fff;
  border: 2px solid #04884B;
  border-radius: 6px;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background: #05a95d;
}

/* Planshetlar (≤ 992px) */
@media (max-width: 992px) {
  .offer-box {
    padding: 20px;
    margin: 30px auto;
  }

  .offer-header h3 {
    font-size: 17px;
  }

  p {
    font-size: 13.5px;
  }

  .btn {
    font-size: 15px;
    padding: 11px 14px;
  }
}

/* Telefonlar (≤ 576px) */
@media (max-width: 576px) {
  .offer-box {
    padding: 16px;
    margin: 24px 10px;
    border-radius: 5px;
  }

  .offer-header {
    gap: 8px;
    flex-wrap: wrap;
  }

  .offer-header .icon {
    font-size: 20px;
  }

  .offer-header h3 {
    font-size: 16px;
    text-align: left;
  }

  p {
    font-size: 13px;
    line-height: 1.4;
  }

  .btn {
    font-size: 14px;
    padding: 10px 12px;
    width: 100%;
  }
}
