.warum-container {
  padding: 64px 16px;
  margin: 0 auto;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.warum-title {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 46px;
}

.warum-grid {
  display: grid;
  margin: 0 236px;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.warum-card {
  border-radius: 1rem;
  max-width: 277px;
}

.icon {
  width: 48px;
  height: 48px;
  margin: 0 auto 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.shield-icon {
  color: blue;
}

.time-icon {
  color: green;
}

.line-icon {
  color: rgb(139, 45, 222);
}

h3 {
  font-size: 20px;
  margin: 0 0 8px;
  font-weight: 500;
}

p {
  font-size: 16px;
  margin: 0;
  color: #4b5563;
}

/* Responsive code */

@media (max-width: 480px) {
  .warum-container {
    padding: 54px 24px;
  }

  .warum-title {
    font-size: 26px;
    margin: 0 0 26px;
  }

  .warum-grid {
    margin: 0 20px;
  }

  .warum-card {
    max-width: 456px;
  }

  .warum-card h3 {
    font-size: 26px;
  }

  .warum-card p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .warum-container {
    padding: 64px 12px;
  }

  .warum-title {
    font-size: 28px;
    margin: 0 0 32px;
  }

  .warum-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 24px;
  }

  .warum-card {
    max-width: 100%;
  }

  .warum-card h3 {
    font-size: 18px;
  }

  .warum-card p {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .warum-container {
    padding: 72px 40px;
  }

  .warum-title {
    font-size: 32px;
    margin: 0 0 36px;
  }

  .warum-grid {
    margin: 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .warum-card {
    max-width: 100%;
  }

  .warum-card h3 {
    font-size: 22px;
  }

  .warum-card p {
    font-size: 16px;
  }
}

@media (max-width: 1199px) {
  .warum-container {
    padding: 80px 48px;
  }

  .warum-title {
    font-size: 34px;
    margin: 0 0 40px;
  }

  .warum-grid {
    margin: 0 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
  }

  .warum-card {
    max-width: 100%;
  }

  .warum-card h3 {
    font-size: 26px;
  }

  .warum-card p {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .warum-container {
    padding: 90px 50px;
  }

  .warum-title {
    font-size: 38px;
    margin: 0 0 48px;
  }

  .warum-grid {
    margin: 0 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
  }

  .warum-card {
    max-width: 100%;
  }

  .warum-card h3 {
    font-size: 30px;
  }

  .warum-card p {
    font-size: 22px;
  }
}
