.faq-container {
  max-width: 800px;
  margin: 80px auto;
  padding: 0 5px;
  text-align: center;
}

.faq-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
}

.faq-subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 32px;
}

::ng-deep mat-accordion {
  width: 100% !important;
 display: flex;
 justify-content: center;
 flex-direction: column;
  align-items: center;
}

::ng-deep mat-expansion-panel {
  background-color: white !important;
  box-shadow: none;
  border-bottom: 1px solid #e0e0e0 !important;
  border-radius: 0;
  width: 90% !important;
}

::ng-deep mat-expansion-panel p {
  text-align: left;
  font-size: 13px;
  margin-top: -10px;
}

::ng-deep mat-expansion-panel-header {
  padding-left: 0;
  padding-right: 0;
  width: 90% !important;
}

::ng-deep mat-panel-title {
  font-weight: 500;
  font-size: 16px;
}


/* Responsivlik */

@media (max-width:620px) {
  .faq-title{
  font-size: 28px;
  }

  .faq-subtitle {
  font-size: 13px;
}
.mat-expansion-panel-header-title{
  font-size: 15px;
}
}


@media (max-width:380px) {
  .faq-title{
  font-size: 25px;
  }

  .faq-subtitle {
  font-size: 12px;
}
.mat-expansion-panel-header-title{
  font-size: 13px;
}

::ng-deep mat-expansion-panel p{
 font-size: 11.4px;
}
}