.faq-container {
  max-width: 800px;
  margin: 80px auto;
  padding: 0 16px;
  text-align: center;
}

.faq-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
}

.faq-subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 32px;
  
}

::ng-deep mat-accordion {
  width: 100%;
}

::ng-deep mat-expansion-panel {
  background-color: white !important;
  box-shadow: none;
  border-bottom: 1px solid #e0e0e0 !important;
  border-radius: 0;
}

::ng-deep mat-expansion-panel p {
  text-align: left;
  font-size: 13px;
  margin-top: -10px;
}

::ng-deep mat-expansion-panel-header {
  padding-left: 0;
  padding-right: 0;
}

::ng-deep mat-panel-title {
  font-weight: 500;
  font-size: 16px;
}
