<div class="step3-wrapper">
  <h2>
    <i class="pi pi-user" style="font-size: 1.5rem; vertical-align: middle;"></i>
    Aktueller Vertragsinhaber
  </h2>

  <form [formGroup]="form" (ngSubmit)="onNext()">
    <!-- Jins tanlash -->
    <div class="form-label">Anrede</div>
    <div class="radio-group" [class.invalid]="isInvalid('gender')">
      <p-radioButton name="gender" value="frau" formControlName="gender"></p-radioButton>
      <label for="frau">Frau</label>

      <p-radioButton name="gender" value="herr" formControlName="gender"></p-radioButton>
      <label for="herr">Herr</label>
    </div>
    <div class="error" *ngIf="isInvalid('gender')">Bitte wählen Sie eine Anrede.</div>

    <!-- Ism / Familiya -->
    <div class="input-group">
      <p-floatLabel variant="on" class="input-wrapper">
        <input id="vorname" type="text" pInputText formControlName="firstName" />
        <label for="vorname">Vorname</label>
      </p-floatLabel>

      <p-floatLabel variant="on" class="input-wrapper">
        <input id="nachname" type="text" pInputText formControlName="lastName" />
        <label for="nachname">Nachname</label>
      </p-floatLabel>
    </div>

    <!-- Sana va Telefon -->
    <div class="input-group">
      <p-floatLabel variant="on" class="input-wrapper">
        <p-datepicker 
          formControlName="birthDate"
          inputId="birthDate"
          showIcon
          appNumericInput="0-9."
          appDateMask
        ></p-datepicker>
        <label for="birthDate">Geburtstag</label>
      </p-floatLabel>

      <p-floatLabel variant="on" class="input-wrapper">
        <input 
          id="phoneNumber" 
          type="text" 
          pInputText 
          formControlName="phone"
          appNumericInput="0-9"
        />
        <label for="phoneNumber">Telefonnummer (optional)</label>
      </p-floatLabel>
    </div>

    <!-- Tugmalar -->
    <div class="btn-group">
      <button type="button" (click)="onBack()">Zurück</button>
      <button
        type="submit"
        [disabled]="!form.valid"
        [ngClass]="{ 'btn-disabled': !form.valid, 'btn-active': form.valid }"
      >
        Weiter
      </button>
    </div>
  </form>
</div>