<div class="step3-wrapper">
  <h2><span class="material-icons">person</span> Aktueller Vertragsinhaber</h2>

  <form [formGroup]="form" (ngSubmit)="onNext()">
    <!-- Jins tanlash -->
    <mat-label class="form-label">Anrede</mat-label>
    <mat-radio-group
      formControlName="gender"
      class="radio-group"
      [class.invalid]="isInvalid('gender')"
    >
      <mat-radio-button value="frau">Frau</mat-radio-button>
      <mat-radio-button value="herr">Herr</mat-radio-button>
    </mat-radio-group>
    <div class="error" *ngIf="isInvalid('gender')">
      Bitte wählen Sie eine Anrede.
    </div>

    <!-- Ism / Familiya -->
    <div class="input-group">
      <mat-form-field class="input-wrapper" appearance="outline">
        <mat-label>Vorname</mat-label>
        <input matInput formControlName="firstName" />
        <mat-error *ngIf="isInvalid('firstName')">
          Vorname ist erforderlich.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-wrapper" appearance="outline">
        <mat-label>Nachname</mat-label>
        <input matInput formControlName="lastName" />
        <mat-error *ngIf="isInvalid('lastName')">
          Nachname ist erforderlich.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Tug‘ilgan sana va telefon -->
    <div class="input-group">
      <mat-form-field class="input-wrapper" appearance="outline">
        <mat-label>Geburtstag</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="birthDate"
          placeholder="TT.MM.JJJJ"
        />
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker startView="multi-year"></mat-datepicker>
        <mat-error *ngIf="isInvalid('birthDate')">
          Geburtstag ist erforderlich.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-wrapper" appearance="outline">
        <mat-label>Telefonnummer (optional)</mat-label>
        <input matInput formControlName="phone" />
      </mat-form-field>
    </div>

    <!-- Tugmalar -->
    <div class="button-group">
      <button
        mat-stroked-button
        color="primary"
        (click)="onBack()"
        type="button"
      >
        Zurück
      </button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
        type="submit"
      >
        Weiter
      </button>
    </div>
  </form>
</div>
