<div class="step3-wrapper">
  <h2><span class="material-icons">person</span> Aktueller Vertragsinhaber</h2>

  <form [formGroup]="form" (ngSubmit)="onNext()">
    <!-- Jins tanlash -->
    <mat-label class="form-label">Anrede</mat-label>
    <mat-radio-group
      formControlName="gender"
      class="radio-group"
      [class.invalid]="isInvalid('gender')"
    >
      <mat-radio-button value="frau">Frau</mat-radio-button>
      <mat-radio-button value="herr">Herr</mat-radio-button>
    </mat-radio-group>
    <div class="error" *ngIf="isInvalid('gender')">
      Bitte wählen Sie eine Anrede.
    </div>

    <!-- Ism / Familiya -->
    <div class="input-group">
      <mat-form-field class="input-wrapper" appearance="outline">
        <mat-label>Vorname</mat-label>
        <input matInput formControlName="firstName" />
        <mat-error *ngIf="isInvalid('firstName')">
          Vorname ist erforderlich.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-wrapper" appearance="outline">
        <mat-label>Nachname</mat-label>
        <input matInput formControlName="lastName" />
        <mat-error *ngIf="isInvalid('lastName')">
          Nachname ist erforderlich.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Tug‘ilgan sana va telefon -->
    <app-base-date [form]="form"></app-base-date>

    <!-- Tugmalar -->
    <div class="button-group">
      <button class="btn-back" (click)="onBack()" type="button">Zurück</button>
      <button class="btn-next" [disabled]="form.invalid" type="submit">
        Weiter
      </button>
    </div>
  </form>
</div>
