<div class="step2-wrapper">
  <div class="step2-card">
    <h2 class="step-title">
      <span class="step-icon"
        ><svg
          class="icon-lightning"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path d="M13 2L3 14h7v8l10-12h-7z" fill="currentColor" /></svg
      ></span>
      Ihr Anschluss
    </h2>

    <form [formGroup]="form">
<label class="form-label">
  Wo befindet sich ihr aktueller Stromanschluss?
</label>

<!-- PLZ va Ort -->
<div class="location-fields">
  <!-- PLZ input -->
  <div class="field-wrapper">
    <label class="custom-label" for="plz">PLZ</label>
      <app-base-input-number [maxlength]="5"  type="text" id="plz" formControlName="plz" />
  </div>

  <!-- Ort select -->
<div class="field-wrapper">
  <!-- <label class="custom-label" for="city">Ort</label> -->
  <label for="city">Ort</label>
  <p-floatlabel class="w-full">
    <p-select
      inputId="city"
      [options]="citiesList"
      formControlName="city"
      placeholder="Bitte wählen..."
      class="w-full"
    />
  </p-floatlabel>
</div>

</div>

<!-- Provider -->
<div class="field-wrapper">
  <label class="custom-label" for="provider">Wer ist Ihr bisheriger Anbieter?</label>
  <p-floatlabel class="w-full">
    <p-dropdown
      inputId="provider"
      [options]="providersList"
      formControlName="provider"
      placeholder="Bitte wählen..."
      class="w-full"
    />
  </p-floatlabel>
</div>


      <br />
      <!-- Tarife -->
      <label class="form-label">Welche Tarife wollen Sie vergleichen?</label>
      <div class="tariff-buttons">
        <button
          type="button"
          class="tariff-btn"
          [class.selected]="isSelectedTariff('all')"
          (click)="selectTariffType('all')"
        >
          🌐 Alle Tarife
        </button>
        <button
          type="button"
          class="tariff-btn"
          [class.selected]="isSelectedTariff('eco')"
          (click)="selectTariffType('eco')"
        >
          ♻️ Nur Ökotarife
        </button>
      </div>

      <!-- Buttons -->
      <div class="step-buttons">
        <button [disabled]="!form.valid" (click)="goNext()">Weiter</button>
      </div>
    </form>
  </div>
</div>
