<div class="step2-wrapper">
  <div class="step2-card">
    <h2 class="step-title"><span class="step-icon">⚡</span> Ihr Anschluss</h2>

    <form [formGroup]="form">
      <!-- PLZ va Ort -->
      <label class="form-label"
        >Wo befindet sich ihr aktueller Stromanschluss?</label
      >

      <div class="location-fields">
        <!-- PLZ input -->
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>PLZ</mat-label>
          <input matInput type="text" formControlName="plz" />
        </mat-form-field>

        <!-- Ort select -->
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Ort</mat-label>
          <mat-select formControlName="city">
            <mat-option value="">Bitte wählen...</mat-option>
            <mat-option *ngFor="let city of citiesList" [value]="city">
              {{ city }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Provider -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Wer ist Ihr bisheriger Anbieter?</mat-label>
        <mat-select formControlName="provider">
          <mat-option value="">Bitte wählen...</mat-option>
          <mat-option *ngFor="let provider of providersList" [value]="provider">
            {{ provider }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br />
      <!-- Tarife -->
      <label class="form-label">Welche Tarife wollen Sie vergleichen?</label>
      <div class="tariff-buttons">
        <button
          type="button"
          class="tariff-btn"
          [class.selected]="isSelectedTariff('all')"
          (click)="selectTariffType('all')"
        >
          🌐 Alle Tarife
        </button>
        <button
          type="button"
          class="tariff-btn"
          [class.selected]="isSelectedTariff('eco')"
          (click)="selectTariffType('eco')"
        >
          ♻️ Nur Ökotarife
        </button>
      </div>

      <!-- Buttons -->
      <div class="step-buttons">
        <button [disabled]="!form.valid" (click)="goNext()">Weiter</button>
      </div>
    </form>
  </div>
</div>
