.background-overlay {
  background: url("../../../../public/housebg.jpg") no-repeat center center / cover;
  position: relative;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(15px); /* xiralik darajasi */
  background-color: rgba(5, 5, 5, 0.2); /* ustidagi qoramtir qatlam */
}

.wizard-card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  width: 100%;
  max-width: 450px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
   position: relative;
}

h3,
h4 {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  margin: 15px;
}


.progress-line {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.step {
  width: 20px;
  height: 20px;
  background: #ddd;
  border-radius: 50%;
  margin: 0 5px;
  transition: background 0.3s;
}

.step.active {
  background: #04884B;
}

.people-selection-input {
  margin: 16px 0;
}

.people-selection-input label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

.people-selection-input select {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

input:focus,
select:focus {
  outline: 2px solid #04884B;
}

.consumption-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  background: #f9f9f9;
  border-radius: 12px;
  padding: 0.6rem 1rem;
  border: 1px solid #ddd;
}

.consumption-input input {
  border: none;
  background: transparent;
  outline: none;
  flex: 1;
  font-size: 15px;
  padding: 0.3rem 0;
  font-family: inherit;
}


.consumption-input input::placeholder {
  color: #aaa;
}

.consumption-input span {
  background-color: #f9f9f9;
  padding: 8px 12px;
  border-left: 1px solid #ddd;
  color: #555;
}


.address-fields {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
  margin-bottom: 1.5rem;
}

.address-fields label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 4px;
}

.address-fields input,
.address-fields select {
  padding: 0.6rem 1rem;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  outline: none;
  font-family: inherit;
}

.address-fields input::placeholder,
.address-fields select:invalid {
  color: #aaa;
}
.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.btn {
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 6px;
  border: 2px solid #04884B;
  background: #fff;
  cursor: pointer;
}

.btn-back{
  background: white;
  color: #04884B;
  padding: 10px 30px;
  font-size: 18px;
  border: 2px solid #04884B;
  border-radius: 5px;
  cursor: pointer;
}

.btn-back:hover{
     background: #e1e2e1;
}

.btn:hover {
  background-color: #04884B;
  color: aliceblue;
}

.btn.green {
  background: #04884B;
  color: white;
  border: 2px solid #04884B;
  font-size: 18px;
}

.btn.green:hover {
  border: none;
  background-color: white;
  color: #04884B;
  border: 2px solid #04884B;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .wizard-card {
    padding: 20px;
  }

  h3,
  h4 {
    font-size: 16px;
    margin: 12px 0;
  }


  .btn {
    font-size: 15px;
    padding: 12px 50px;
  }
}

@media (max-width: 480px) {
  .btn {
    padding: 11px 40px;
  }

  .wizard-card {
    padding: 16px;
  }

  .people-selection-input select,
  .address-fields input,
  .address-fields select {
    font-size: 15px;
    padding: 12px;
  }
}
